{% extends 'base.html' %}
{% block content %}
    
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('http://static2.uk.businessinsider.com/image/578f509b4321f1c72f8b8e2b-1190-625/premier-league-betting-this-is-who-bookmakers-think-will-get-relegated-next-season.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Unwanted Premier League records</h1>
              <span class="subheading">Who's in the record books for all the wrong reasons?</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <div class="container">
      <div class="row">
        <div class="col-md-2 hidden-sm">
          <!-- Empty for styling purposes -->
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="thanks">
            <h2><center>Thanks for playing</center></23>
          </div>
          <br>
          <div class="score">
            <h4><center>{{ display_score }}</center></h4>
          </div>
          <br>
        </div>
        <div class="col-md-2 hidden-sm">
          <!-- Empty for styling purposes -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 hidden-sm">
          <!-- Empty for styling purposes -->
        </div>
        <br>
        <div class="col-md-8 col-sm-12">
              <div class="d-flex justify-content-center">
                <form method="POST">
                  <button type="submit" class="btn btn-primary">Leaderboard</button>
                </form>
              </div>
        </div>
        <div class="col-md-2 hidden-sm">
          <!-- Empty for styling purposes -->
        </div>
      </div>
    </div>
{% endblock %}