{% extends 'base.html' %}
{% block content %}
    
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('http://static2.uk.businessinsider.com/image/578f509b4321f1c72f8b8e2b-1190-625/premier-league-betting-this-is-who-bookmakers-think-will-get-relegated-next-season.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Unwanted Premier League records</h1>
              <span class="subheading">Who's in the record books for all the wrong reasons?</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto">
              <div class="table-responsive">
                <center>
                  <table class="leaderboard" id="scores" style="width:75%">
                  <tr>
                    <th>Score</th>
                    <th>Username</th>
                  </tr>
                  {% for scores in userscores %}
                  <tr>
                    <td>
                      {{ scores[0] }}
                    </td>
                    <td>
                      {{ scores[1] }}
                    </td>
                  </tr>
                  {% endfor %}
                </table>
                </center>
              </div>
        </div>
      </div>
    </div>
{% endblock %}