{% extends 'base.html' %}
{% block content %}
<div>
  <div class="row">
    <div class="col-12" id="header-image">
      <!-- Empty for styling purposes -->
    </div>
  </div>
</div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-2 hidden-sm" id="sideimage">
          <!-- Empty for styling purposes -->
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12" id="question">
              <br>
              <div class="prompt">
                <h3><center>{{ display_question }}</center></h3>
              </div>
              <br>
              <center><button type="button" class="btn btn-info" id="options-btn">Reveal options</button></center>
              <div class="options" id="reveal-options">
                <center><ul style="list-style-type:none">
                {% for option in display_options %}
                <li>{{ option }}</li>
                {% endfor %}
                </ul></center>
              </div>
              <br>
              <div class="d-flex justify-content-center">
                <form method="POST" align="center">
                  <input type="text" id="input" placeholder="Answer" name="guess" required/>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              <br>
        </div>
        <div class="col-lg-3 col-md-2 hidden-sm" id="sideimage">
          <!-- Empty for styling purposes -->
        </div>
      </div>
{% endblock %}